# Flask and essential libraries
flask==3.0.3         # Core web framework
flask-cors==3.0.10   # Cross-Origin Resource Sharing support

# Environment variable management
python-dotenv==1.0.0 # To load environment variables from .env file
