<!DOCTYPE html>
<html>
<head>
    <title>Gastpagina</title>
</head>
<body>
    <h1>Gastpagina</h1>
    <link rel="stylesheet" href="/static/styles.css">
    <input type="text" id="kenteken" placeholder="Voer een kenteken in">
    <button onclick="submitKenteken()">Verstuur</button>
    <p id="responseMessage"></p>

    <script>
        async function submitKenteken() {
            const kenteken = document.getElementById("kenteken").value;

            if (!kenteken) {
                document.getElementById("responseMessage").textContent = "Voer een kenteken in!";
                return;
            }

            try {
                const response = await fetch('http://48.209.175.239:4000/api/slagboom', { // Hier aangepast
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-API-Key': 'nadminkobani'
                    },
                    body: JSON.stringify({ kenteken })
                });

                const result = await response.json();
                document.getElementById("responseMessage").textContent = result.message;
            } catch (error) {
                document.getElementById("responseMessage").textContent = "Kon geen verbinding maken met de server.";
            }
        }
    </script>
</body>
</html>
